{% extends 'base.html.twig' %}

{% block title %}Reg{% endblock %}

{% block body %}
    {{ form_start(form, {'method': 'POST'}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div>
            {{ form_label(form.task, 'Registration') }}
        </div>
        <div class="col">
            {{ form_row(form.task) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.dueDate) }}
        </div>
        <div>
            {{ form_row(form.submit, { 'label': 'Enter' }) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}